@import "tailwindcss";

:root {
  --background: #F9F3EA;
  --foreground: #171717;
  font-family: var(--font-aeonik), sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F3EA;
    --foreground: #F9F3EA;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-aeonik), sans-serif;

}



.bg-dark-blue{
  background-color: #0C1956;
}

.txt-dark-blue{
  color: #0C1956;
}

.bg-light-blue{
  background-color: #9ECCFA;
}

.txt-light-blue{
  color: #9ECCFA;
}

.desk {
  display: block;
}

.mob {
  display: none;
}

/* Mobile (até 768px) */
@media screen and (max-width: 1023px) {
  .desk {
    display: none;
  }

  .mob {
    display: block;
  }
}

.mySwiper .swiper-slide {
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: scale(0.8) !important; 
  opacity: 0.3; 
}

.mySwiper .swiper-slide-active {
  transform: scale(1) !important; 
  opacity: 1; 
  z-index: 10;
}

::-webkit-scrollbar {
  width: 12px; 
  background-color: #0C1956; 
}

::-webkit-scrollbar-thumb {
  background-color: #9ECCFA;
}

@media (max-width: 1024px) {
  section[id] {
    scroll-margin-top: 100px; /* ajusta conforme a altura do header */
  }
}